.__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}

.title {
  margin: 20px 0 20px 0;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  color: var(--main-color);
}

.__input {
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  -webkit-box-shadow: 4px 4px var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  font-weight: 600;
  font-size: 18px;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.__input::-webkit-input-placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.__input::-moz-placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.__input:-ms-input-placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.__input::-ms-input-placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.__input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.__input:focus {
  border: 2px solid var(--input-focus);
}

.__btn:active,
.button-confirm:active {
  -webkit-box-shadow: 0px 0px var(--main-color);
  box-shadow: 0px 0px var(--main-color);
  -webkit-transform: translate(3px, 3px);
  -ms-transform: translate(3px, 3px);
  transform: translate(3px, 3px);
}

.__btn {
  margin: 20px 0 20px 0;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  -webkit-box-shadow: 4px 4px var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

.err-alert {
  color: red;
  font-size: 12px;
  font-weight: 300;
}

.offscreen {
  opacity: 0;
}
