.navbar-container {
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  z-index: 99;
}

.navbar-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  backface-visibility: hidden;
  -webkit-box-shadow: 0px 4px var(--main-color);
  box-shadow: 0px 4px var(--main-color);
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-item.right {
  gap: 0.3em;
}

.navigation-card {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
}

.navbar-btn {
  padding: 0.3em;
  border: none;
  outline: none;
  background-color: var(--main-color);
  border: 2px solid #fff;
  min-width: 70px;
  color: #fff;
}

.navbar-btn:hover {
  background-color: #fff;
  color: var(--font-color);
  border: 2px solid var(--font-color);
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-color: rgb(252, 252, 252);
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
}
.tab:hover {
  background-color: rgb(223, 223, 223);
}
