.container-main-btn {
  width: max-content;
}

.main-btn {
  box-sizing: border-box;
  border: 0;
  border-radius: 10px;
  color: var(--secondary-color);
  padding: 0.8em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

.main-btn .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-btn .__arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.main-btn .__arrow::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.main-btn:hover {
  background-color: var(--hover-color);
}

.main-btn:hover .__arrow {
  background: var(--secondary-color);
}

.main-btn:hover .__arrow:before {
  right: 0;
}
