.students-wrapper-items .cardCollectiontextBox p:nth-child(2) {
  font-size: 1rem;
  font-weight: 300;
}

.cardCollectionimg.rank {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: var(--font-color);
  font-size: 2em;
  font-weight: 700;
}
