.student-new-container.raport-form {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.651);
}

.student-new-container.raport-form .create-raport {
  justify-content: flex-start;
  background-color: #fff;
}

.student-new-container.raport-form .create-raport .inputBox {
  width: 80%;
  margin-bottom: 0.7em;
}

.student-new-container.raport-form .create-raport {
  position: relative;
}

.close-create-students {
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: -30px;
  right: 0;
  cursor: pointer;
}
