.container-raport {
  text-transform: capitalize;
}

.container-raport h1 {
  margin-bottom: 1em;
}

.raport-del-btn {
  border: none;
  width: 18px;
  cursor: pointer;
}

.raport-del-btn svg {
  fill: rgb(255, 52, 52);
}
