/* .flip-card__front.register {
  position: relative;
  padding: 1em;
  backface-visibility: hidden;
  background: lightgrey;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  -webkit-box-shadow: 4px 4px var(--main-color);
  box-shadow: 4px 4px var(--main-color);
} */
